<html>

<head>
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}">
</head>

<body>
    <div align="center">
        <div align="center" class="border">
            <div class="header">
                <h1 class="word">Welcome</h1>
            </div>
            <h1 class="bottom"> Hi {{name}}!! </br> </br>
                {{msg}} !! </br> </br>
                You are Welcome</br> </br>
                Happy to have you here...</h1>
            <a href="/logout" class="btn">Log Out</a>
        </div>
    </div>
</body>

</html>